html,
body {
    background-color: #343a40;
    color: #ffffff;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #495057;
}

.card-title,
.btn {
    color: #ffffff;
}